<table class="table">
  <% @students.each do |student| %>
    <tr>  
      <th><%= student.name %></th>
    </tr>
    <tr>
			<% aux = 0 %>
      <% @courses.each do |course|%>
        <td><%= course.name%></td>
        <% course.grades.each do |grade| %>
          <% if grade.student_id == student.id %>
            <% @mygrade << grade.value  %>
          <%end%>
        <%end%>
        <% if @mygrade.sum == 0 %>
          <td>0</td>
        <%else%>
          <td><%= (@mygrade.sum.to_f/@mygrade.length.to_f) %></td>
        <%end%>
				<% aux += 1%>
				<%if aux == (@courses.length/2).round %>
					<tr></tr>
				<%end%>
        <%@mygrade = []%>
      <%end%>
      </tr>
  <%end%>
