msg ="<form accept-charset='UTF-8' action='/courses/<%=@course.id%>' class='form-horizontal' id='edit_course_<%=@course.id%>' method='post'><div style='margin:0;padding:0;display:inline'><input name="_method" type="hidden" value="put" /></div>";
msg +="<input class='span2' id='course_name' name='course[name]' size='30' type='text' value='<%=@course.name%>' />";
msg +="<input class='btn-primary' name='commit' type='submit' value='Modifica' />";
$('#course_form').html("da");
alert("dsadaas");
